Repository Activ8-AI/Teamwork-MCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks for Teamwork-MCP
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Secret Detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(ts|js)$
        pass_filenames: true

      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: \.(ts|js|json|md|yml|yaml)$
        pass_filenames: true

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: system
        files: \.ts$
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: npm-audit
        name: NPM Security Audit
        entry: bash -c 'npm audit --audit-level=high || exit 0'
        language: system
        pass_filenames: false
        always_run: true

      - id: check-secrets-in-code
        name: Check for hardcoded secrets
        entry: bash -c 'if git grep -iE "(password|secret|key|token).*=.*['\''\"']" -- "*.ts" "*.js" "*.py" | grep -v "process.env" | grep -v ".example" | grep -v "your-"; then echo "Potential secrets found!"; exit 1; fi'
        language: system
        pass_filenames: false

  # Python checks
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Commit message validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore, perf, ci, build, security]

docs: add MMC PR record entry
  docs/meta-mega-codex.md
Due: prettier

docs: note PR creation permission blocker
  docs/meta-mega-codex.md
Due: prettier

Update docs/meta-mega-codex.md
  docs/meta-mega-codex.md
Due: prettier

fix: resolve npm audit highs and add relay tests
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  src/servers/notion-relay-server.ts
  tests/index.test.js
  tests/relay-contract.test.js
Due: eslint, prettier, typescript-check

docs: add changelog and charter-standard secrets guidance
  CHANGELOG.md
  README.md
  SECURITY.md
  docs/governance.md
Due: prettier

chore(ci): fail-closed audit and stable runners
  .github/workflows/ci.yml
  .github/workflows/connection-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish-image.yml
Due: prettier

docs(security): add Charter-standard remediation checklist for repo security
  REMEDIATION_CHECKLIST.md
Due: prettier

Update META_MEGA_CODEX.sh
  META_MEGA_CODEX.sh
Due: none

Remove remediation checklist from repo
  REMEDIATION_CHECKLIST.md
Due: prettier

Fix governance bootstrap bugs
  META_MEGA_CODEX.sh
Due: none

docs: add activ8 ai signal intelligence artifacts
  docs/activ8-ai/anonymized-codex-model-view.md
  docs/activ8-ai/check-in-fill-in-tool.md
  docs/activ8-ai/client-weekly-checkins-2026-01-21.md
  docs/activ8-ai/signal-intelligence-architecture-2026-01-21.md
Due: prettier

docs: add activ8-unified-mcp Notion server setup guide
  README.md
  docs/activ8-unified-mcp-notion-server-setup.md
Due: prettier

Update docs/activ8-unified-mcp-notion-server-setup.md
  docs/activ8-unified-mcp-notion-server-setup.md
Due: prettier

Update src/services/intelligence/competitorIntelligenceEngine.ts
  src/services/intelligence/competitorIntelligenceEngine.ts
Due: eslint, prettier, typescript-check

Add warnings property to CompetitorDeltaRecord to fix TypeScript error
  src/models/CompetitorDelta.ts
Due: eslint, prettier, typescript-check

docs(custodian): Add preservation records and Notion sync package
  NOTION-SYNC-PACKAGE.md
  custody/custodian-ledger-2026-01-28.md
Due: prettier

chore(config): add Notion secrets template for GitHub token setup
  configs/notion_secrets.json.template
Due: none

feat(security): add Charter-standard Notion secrets integration
  scripts/fetch_notion_secrets.py
  scripts/run_remediation.sh
Due: none

docs(security): add Charter-standard remediation usage guide
  scripts/README_REMEDIATION.md
Due: prettier

Potential fix for code scanning alert no. 18: Workflow does not contain permissions
  .github/workflows/auto-close-superseded-prs.yml
Due: prettier

Potential fix for code scanning alert no. 20: Workflow does not contain permissions
  .github/workflows/notion-relay.yml
Due: prettier

Potential fix for code scanning alert no. 22: Workflow does not contain permissions
  .github/workflows/security-scan.yml
Due: prettier

Potential fix for code scanning alert no. 19: Workflow does not contain permissions
  .github/workflows/pr-validation.yml
Due: prettier

Potential fix for code scanning alert no. 17: Workflow does not contain permissions
  .github/workflows/cleanup-branches.yml
Due: prettier

Potential fix for code scanning alert no. 23: Workflow does not contain permissions
  .github/workflows/update-changelog.yml
Due: prettier

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: prettier

Update scripts/notion-relay-publish.js
  scripts/notion-relay-publish.js
Due: eslint, prettier

Update scripts/release.sh
  scripts/release.sh
Due: none

fix: resolve TypeScript build failures with proper type resolution
  package-lock.json
  tsconfig.json
Due: prettier

fix: address PR review feedback for security and documentation
  docs/automation.md
  scripts/notion-relay-publish.js
Due: eslint, prettier

Add claude/notion webhook endpoints with legacy aliases
  README.md
  docs/notion-portal.md
  src/servers/notion-relay-server.ts
  tests/relay-contract.test.js
Due: eslint, prettier, typescript-check
